*{
    margin: 0;
    padding: 0;
    border: none;
    outline:  none;
    box-sizing: border-box;
/*
AQUI EU USEI A * PRA MUDAR TODOS OS ELEMENTOS DO HTML
*/
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}
